.container{
    width: 100%;
    height: 490px;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-top: 8%;


    .leftbox{
        width: 46%;
        height: 600px;
        // background-color: rgb(61, 189, 146);

        button{
            font-size: 17px;
            font-family: sans-serif;
            padding: 15px 26px;
            border: none;
            background-color:  #BB0B0B;
            color: white;
            margin-top: 8%;
        }


        h5{
            margin-top: 5%;
            color: #BB0B0B;
        }

        h3{
            font-size: 18px;
            position: relative;

            span{
                position: absolute;
                right: 12%;
            }
        }

        .h33{

            margin-top: 8%;
            font-size: 18px;
            position: relative;
        }

        pre{
            margin-top: 5%;
        }

        .box92{

            width: 90%;
            height: 10px;
            background-color: rgb(204, 204, 204);


.box92-red{
    
    width: 90%;
    height: 10px;
    background-color: rgb(177, 14, 14);
}



        }

    }



    .rightbox{
        width: 54%;
        height: 600px;
        // background-color: rgb(11, 20, 17);
        display: flex;
        justify-content: center;
        align-items: center;


        .rightimg{
            width: 90%;
            height: 550px;
            // background-color: #BB0B0B;
        border-radius: 12px 0px 0px 12px;
        background-image: url('IMGS/about-2.png');
        background-size: cover;
        position: relative;


        .red-box{
            width: 170px;
            height: 140px;
            background-color: #BB0B0B;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 409px;
            left: 1px;
        border-radius: 0px 0px 0px 12px;


            h1{
                color: white;
                font-size: 70px;
                font-family: sans-serif;
                font-weight: 700px;
            }

            h3{
                color: white;
                font-size: 18px;
                font-family: sans-serif;

            }
        }
        }
    }
}

