.section1{
    width: 100%;
    height: 700px;
background-image: url('IMGS/h2-sl1.webp');    
background-size: auto;



.img-cont{
    width: 50%;
    height: 420px;
    // background-color: rgb(134, 131, 136);
    display: flex;
    position: absolute;
    top: 15%;
 


    .icon1{
        width: 15%;
        height: 300px;


        .fa-angle-left{
            padding: 25px;
            background-color: #BB0B0B;
            color: white;
            margin-top: 60%;       
            margin-left: 8%;
        }
        .fa-angle-right{
            padding: 25px;
            background-color: #BB0B0B;
            color: white;
            margin-top: 16%; 
            margin-left: 8%;

        }


    }



    .box-h1{
        width: 90%;
        height: 420px;
        // background-color: aqua;
            h5{
        font-size: 18px;
        color: rgb(196, 25, 25);
        margin-left: 47px;

    }
    h1{
        color: black;
        font-size: 80px;
        font-family: sans-serif;
        font-weight: 900px;
        margin-left: 47px;
    }

    p{
        color: rgb(223, 13, 13);
        font-size: 17px;
        font-family: sans-serif;
        font-weight: 800px;
        margin-left: 47px;

    }

    button{
        font-size: 17px;
        font-family: sans-serif;
        padding: 15px 26px;
        border: none;
        background-color:  #BB0B0B;
        color: white;
       
    }
    }
}


}




